h1{
  color:rgb(60, 60, 210);
  font-family:sans-serif;
  transition: all 0.35s;
}

h1:hover{
  color:white;
}

.header{
  text-align: center;
}

.div-link{
  display: flex;
  justify-content: center;
}

.img-link{
  width: 300px;
}

.botao-comprar{
  display: flex;
  justify-content: center;
  margin-top:32px;
}

.botao-comprar button{
  background: green;
  font-size: 24px;
  border: solid 1px;
  border-radius: 12px;
  color:white;
  padding:10px;
}